# Ignore vendor and node_modules directories
/vendor/
/node_modules/

# Ignore logs
npm-debug.log
yarn-error.log

# Ignore IDE-specific files and directories
.idea/

# Laravel 4 specific
/bootstrap/compiled.php
/app/storage/

# Laravel 5 & Lumen specific
/public/storage
/public/hot

# Laravel 5 & Lumen specific with changed public path
/public_html/storage
/public_html/hot

# Ignore storage/*.key files
/storage/*.key

# Ignore environment files
.env

# Ignore Homestead configuration files
Homestead.yaml
Homestead.json

# Ignore Vagrant-related files
/.vagrant

# Ignore PHPUnit result cache
.phpunit.result.cache
